Règles Générales

* N'essayez pas d'exploiter le serveur ou d'agir avec intention malveillante.
* Ne pas tuer au hasard quelqu'un. (Connu sous le nom de RDM - Random Death Match)
* Ne pas harceler ou déranger les autres joueurs. Cela implique d'être raciste, homohobe ou d'essayer d'offenser les autres.
* Ne pas spammer. Cela inclut le chat vocal, le chat OOC, les publicités ou toute autre méthode de communication.
* Ne créez pas de signes de texte offensifs ou inappropriés.
* N'utilisez pas un nom RP inapproprié.
* Laissez les administrateurs pour faire leur travail, s'ils sont occupés, soyez patient et attendez qu'ils finissent
* L'escroquerie lors des transactions de vendeur ou toute transaction de jeu de rôle n'est pas autorisée (argent reçut, mais ne rien donner)
* Dans l'ensemble, utilisez le bon sens et amusez-vous.

Règles Construction

* Lors de votre constrctuction, mettez en place un panneaux "En construction" pour faire savoir aux autres que vou n'êtes pas encore dans le rôle-play.
* Ne pas déranger les personnes "En construction".
* Le props block est totalement interdit. Un keypad ou un bouton doivent être placé et accessible pour les joueurs.
* Interdiction de mettre un delay pour les keypad et fadding door.
* Interdiction de faire des meutrières face au keypad pour tuer les joueurs.
*
